{
  "openapi": "3.0.1",
  "info": {
    "title": "Google Custom Search API",
    "description": "API for performing custom Google searches programmatically using Google Custom Search JSON API. This implementation routes requests through Azure API Management for governance, security, and observability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://customsearch.googleapis.com/customsearch/v1"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Search using Google Custom Search",
        "description": "Performs a custom search and returns results",
        "operationId": "search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Search query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Azure API Management"
            }
          },
          {
            "name": "cx",
            "in": "query",
            "description": "Custom Search Engine ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "key",
            "in": "query",
            "description": "API Key (will be injected by policy)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "num",
            "in": "query",
            "description": "Number of results to return (1-10)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 10
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "Index of the first result to return",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "lr",
            "in": "query",
            "description": "Restricts the search to documents written in a particular language (e.g., lr=lang_en for English)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["lang_ar", "lang_bg", "lang_ca", "lang_cs", "lang_da", "lang_de", "lang_el", "lang_en", "lang_es", "lang_et", "lang_fi", "lang_fr", "lang_hr", "lang_hu", "lang_id", "lang_is", "lang_it", "lang_iw", "lang_ja", "lang_ko", "lang_lt", "lang_lv", "lang_nl", "lang_no", "lang_pl", "lang_pt", "lang_ro", "lang_ru", "lang_sk", "lang_sl", "lang_sr", "lang_sv", "lang_tr", "lang_zh-CN", "lang_zh-TW"]
            }
          },
          {
            "name": "safe",
            "in": "query",
            "description": "Search safety level (active=SafeSearch enabled, off=SafeSearch disabled)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "off"],
              "default": "off"
            }
          },
          {
            "name": "searchType",
            "in": "query",
            "description": "Specifies the search type. Use 'image' for custom image search",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["image"]
            }
          },
          {
            "name": "dateRestrict",
            "in": "query",
            "description": "Restricts results to URLs based on date (e.g., d7 for past 7 days, m3 for past 3 months)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exactTerms",
            "in": "query",
            "description": "Phrase that all documents in the search results must contain",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "excludeTerms",
            "in": "query",
            "description": "Word or phrase that should not appear in any documents in the search results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fileType",
            "in": "query",
            "description": "Restricts results to files of a specified extension (e.g., pdf, doc, xls)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteSearch",
            "in": "query",
            "description": "Specifies a site which should be included or excluded from results",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "siteSearchFilter",
            "in": "query",
            "description": "Controls whether to include or exclude results from the site named in siteSearch (i=include, e=exclude)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["i", "e"]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort expression to apply to results (e.g., date for sorting by date)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gl",
            "in": "query",
            "description": "Geolocation of end user (two-letter country code)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hl",
            "in": "query",
            "description": "Interface language (e.g., en, de, fr)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized - Invalid API key"
          },
          "403": {
            "description": "Forbidden - Quota exceeded"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "example": "customsearch#search"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "searchInformation": {
            "type": "object",
            "properties": {
              "totalResults": {
                "type": "string"
              },
              "searchTime": {
                "type": "number"
              }
            }
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          },
          "link": {
            "type": "string"
          },
          "snippet": {
            "type": "string"
          },
          "displayLink": {
            "type": "string"
          }
        }
      }
    }
  }
}
